/*
|   =========================================================
|   Core Variables
|   =========================================================
*/

$screen-sm: 544px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$color-status-draft: #999999;
$color-status-sent: #3A87AD;
$color-status-viewed: #F89406;
$color-status-paid-approved: #468847;
$color-status-rejected-overdue: #B94A48;
$color-status-canceled: #333333;

$sidebar-background:    #1f2420;
$sidebar-shadow:        rgba(2,2,2,0.6);
$sidebar-color:         #42c942;
$sidebar-bg-modifier:   3%;

$padding-md:    ($spacer * 0.5) ($spacer * 0.8);
$padding-sm:    ($spacer * 0.3) ($spacer * 0.6);

/*
|   =========================================================
|   Mixins
|   =========================================================
*/

@mixin transition-std($transition) {
  transition: $transition 0.2s ease-out;
  -moz-transition: $transition 0.2s ease-out;
  -webkit-transition: $transition 0.2s ease-out;
  -o-transition: $transition 0.2s ease-out;
}