/*!
 * Invoice?Plane DevWiki Styles
 */

@import "bootstrap";
@import "font-awesome";
@import "hack";
@import "prism";
@import "core-vars";

/*
|   =========================================================
|   Base styles
|   =========================================================
*/

html {
  height: 100%;
}

body {
  height: inherit;
}

a.ext {
  margin-right: 3px;

  &:after {
    font-family: FontAwesome;
    content: '\f08e';
    font-size: 60%;
    position: relative;
    left: 3px;
    vertical-align : super;
  }
}

pre, code {
  font-family: 'Hack', Consolas, Monaco, monospace;
}

ul li,
ol li {

  p {
    margin-bottom: 0;
  }
}

/*
|   =========================================================
|   Base layout
|   =========================================================
*/

#app {
  width: 100%;
  height: 100%;

  @media screen and (min-width: $screen-lg) {
    display: table;
  }
}

#sidebar {
  width: 320px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: $sidebar-background;
  color: $sidebar-color;
  left: -320px;
  z-index: $zindex-navbar;
  font-family: 'Hack', Consolas, Monaco, monospace;
  box-shadow: 0 0 20px $sidebar-shadow;
  
  @include transition-std(left);

  .sidebar-visible & {
    left: 0;
    @include transition-std(left);
  }

  @media screen and (min-width: $screen-lg) {
    position: relative;
    width: 35%;
    display: table-cell;
    vertical-align: top;
    left: auto;
    height: 100%;
  }

  @media screen and (min-width: $screen-xl) {
    width: 25%;
  }

  a {
    color: $sidebar-color;
    @include hover-focus-active {
      color: $sidebar-color;
    }
  }

  .sidebar-top {
    padding: 1rem;
    border-bottom: 1px solid lighten($sidebar-background, 5%);
  }
}

#main {
  width: 100%;
  
  .main-content {
    padding: 2rem;

    > h1 {

      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $hr-border-color;
    }
  }

  @media screen and (min-width: $screen-lg) {
    display: table-cell;
    vertical-align: top;
    width: 65%;
  }

  @media screen and (min-width: $screen-xl) {
    width: 75%;
  }
}

.sidebar-toggle-wrapper {
  padding: 1rem;
  width: 100%;
  background: $sidebar-background;
  font-family: 'Hack', Consolas, Monaco, monospace;
  box-shadow: 0 0 20px $sidebar-shadow;

  a {
    color: $sidebar-color;

    &:hover {
      color: $sidebar-color;
    }
  }
}

.sidebar-toggle {
  cursor: pointer;
}

.login-logo {
  padding: 2rem 0;

  img {
    max-width: 100%;
  }
}

.card-header {
  font-weight: bold;
}

#loader {
  display: none;
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .loader-indicator {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
  }

  .loader-content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
    opacity: 0.85;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);

    .loader-message {
      position: absolute;
      width: 100%;
      top: 20%;
      left: 0;
    }
  }
}

/*
|   =========================================================
|   Menu
|   =========================================================
*/

$sidebar-background-light: lighten($sidebar-background, 5%);
$sidebar-background-lighter: lighten($sidebar-background, 10%);

.menu {
  list-style: none;
  padding: 0;
  margin: $spacer 0;

  li {
    width: 100%;

    a {
      display: block;
      width: 100%;
      text-decoration: none;
      padding: $padding-md;
      font-size: 1rem;
      border-left: 3px solid $sidebar-background;

      &:hover {
        background-color: $sidebar-background-light;
        border-left: 3px solid $sidebar-background-light;
      }

      .fa {
        margin-right: 1rem;
      }
    }

    &.divider {
      margin: 1rem 0;
      border-bottom: 1px solid $sidebar-background-lighter;
    }
  }

  .has-submenu {
    background-color: $sidebar-background-light;
    border-left: 3px solid $sidebar-color;

    &:hover {
      border-left: 3px solid $sidebar-color;
    }

    .menu-icon {
      padding: $padding-md;
      margin-right: 0;

      &:before {
        content: "\f107";
      }
    }

    &.collapsed {
      background-color: $sidebar-background;
      border-left: 3px solid $sidebar-background;

      &:hover {
        background-color: $sidebar-background-light;
        border-left: 3px solid $sidebar-background-light;
      }

      .menu-icon:before {
        content: "\f104";
      }

      + .submenu {
        border-left: 3px solid $sidebar-background-light;

        + .submenu {
          border-left-color: $sidebar-background-lighter;
        }
      }
    }
  }

  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: $sidebar-background-light;
    border-left: 3px solid $sidebar-color;

    li {
      padding: 0;

      a {
        font-size: 0.85rem;
        padding: $padding-md $padding-md + 2rem;
        border-left-color: $sidebar-background-light;

        &.has-submenu {
          border-left-color: $sidebar-color;

          &.collapsed {
            border-left-color: $sidebar-background-light;
          }
        }

        &:hover {
          background-color: $sidebar-background-lighter;
        }
      }

      &.divider {
        margin: ($spacer * 0.3) 0;
      }
    }
  }
}

/*
|   =========================================================
|   Content
|   =========================================================
*/

.status {
  padding: 2px 4px;
  border-radius: 2px;

  &.status-draft {
    background: lighten($color-status-draft, 35%);
    color: $color-status-draft;
  }
  &.status-sent {
    background: lighten($color-status-sent, 40%);
    color: $color-status-sent;
  }
  &.status-viewed {
    background: lighten($color-status-viewed, 40%);
    color: $color-status-viewed;
  }
  &.status-paid,
  &.status-approved{
    background: lighten($color-status-paid-approved, 50%);
    color: $color-status-paid-approved;
  }
  &.status-rejected,
  &.status-overdue{
    background: lighten($color-status-rejected-overdue, 40%);
    color: $color-status-rejected-overdue;
  }
  &.status-canceled {
    background: lighten($color-status-canceled, 60%);
    color: $color-status-canceled;
  }
}

.fa-credit-invoice {
  &:before {
    content: '-';
  }
  &:after {
    font-family: FontAwesome;
    content: '\f155';
  }
}

.fa-read-only {
  @extend .fa-ban;
}

/*
|   =========================================================
|   Forms
|   =========================================================
*/

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/*
|   =========================================================
|   Additional icon and text styles
|   =========================================================
*/

.fa-fw {
  width: 1rem;
  text-align: center;
}

.fa-margin-right {
  margin-right: 0.5rem;
}

.fa-margin-left {
  margin-left: 0.5rem;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/*
|   =========================================================
|   Various other styles
|   =========================================================
*/

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: $gray-lightest;
  border-left: 1px solid $gray-lighter;
}
::-webkit-scrollbar-thumb {
  background-color: darken($gray-lighter, 10%);
}