/*!
 * Invoice?Plane DevWiki Styles
 */

@import "bootstrap";
@import "font-awesome";
@import "core-vars";

/*
|   =========================================================
|   Base styles
|   =========================================================
*/

a.ext {
  margin-right: 3px;

  &:after {
    font-family: FontAwesome;
    content: '\f08e';
    font-size: 60%;
    position: relative;
    left: 3px;
    vertical-align : super;
  }
}

/*
|   =========================================================
|   Base layout
|   =========================================================
*/

#app {
  width: 100%;

  @media screen and (min-width: $screen-lg) {
    display: table;
  }
}

#sidebar {
  width: 320px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: $color-sidebar-bg;
  color: $color-sidebar-color;
  left: -320px;
  z-index: $zindex-navbar;
  @include transition-std(left);

  .sidebar-visible & {
    left: 0;
    @include transition-std(left);
  }

  @media screen and (min-width: $screen-lg) {
    width: 25%;
    display: table-cell;
    vertical-align: top;
    left: 0;
  }

  a {
    color: $color-sidebar-link;
    @include hover-focus-active {
      color: $color-sidebar-link;
    }
  }

  .sidebar-top {
    padding: 1rem;
    border-bottom: 1px solid lighten($color-sidebar-bg, 5%);
  }
}

#main {
  width: 100%;
  
  .main-content {
    padding: 1rem;
  }

  @media screen and (min-width: $screen-lg) {
    display: table-cell;
    vertical-align: top;
    width: 75%;
  }
}

#headerbar {
  padding: 1rem;
  border-bottom: 1px solid $gray-lighter;
}

.sidebar-toggle-wrapper {
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid $gray-lighter;
}

.sidebar-toggle {
  cursor: pointer;
}

.login-logo {
  padding: 2rem 0;

  img {
    max-width: 100%;
  }
}

.card-header {
  font-weight: bold;
}

#loader {
  display: none;
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .loader-indicator {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
  }

  .loader-content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
    opacity: 0.85;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);

    .loader-message {
      position: absolute;
      width: 100%;
      top: 20%;
      left: 0;
    }
  }
}

/*
|   =========================================================
|   Menu
|   =========================================================
*/

.menu {
  list-style: none;
  padding: 0;
  margin: 0 0 0.5rem;

  li {
    width: 100%;

    a {
      display: block;
      width: 100%;
      text-decoration: none;
      padding: 0.4rem 1rem;
      font-size: 1.1rem;

      &:hover{
        background-color: lighten($color-sidebar-bg, 5%);
      }
    }

    &.divider {
      margin: 0;
      border-bottom: 1px solid lighten($color-sidebar-bg, 10%);
    }
  }

  .has-submenu {
    background-color: lighten($color-sidebar-bg, 5%);

    .menu-icon {
      padding: 0.3rem 0.5rem;

      &:before {
        content: "\f107";
      }
    }

    &.collapsed {
      background-color: $color-sidebar-bg;

      &:hover{
        background-color: lighten($color-sidebar-bg, 5%);
      }

      .menu-icon:before {
        content: "\f104";
      }
    }
  }

  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: lighten($color-sidebar-bg, 5%);

    li {
      padding: 0;

      a {
        font-size: 0.9rem;


        &:hover {
          background-color: lighten($color-sidebar-bg, 10%);
        }
      }

      &.divider {
        margin: 0;
      }
    }
  }
}

/*
|   =========================================================
|   Content
|   =========================================================
*/

.status {
  padding: 2px 4px;
  border-radius: 2px;

  &.status-draft {
    background: lighten($color-status-draft, 35%);
    color: $color-status-draft;
  }
  &.status-sent {
    background: lighten($color-status-sent, 40%);
    color: $color-status-sent;
  }
  &.status-viewed {
    background: lighten($color-status-viewed, 40%);
    color: $color-status-viewed;
  }
  &.status-paid,
  &.status-approved{
    background: lighten($color-status-paid-approved, 50%);
    color: $color-status-paid-approved;
  }
  &.status-rejected,
  &.status-overdue{
    background: lighten($color-status-rejected-overdue, 40%);
    color: $color-status-rejected-overdue;
  }
  &.status-canceled {
    background: lighten($color-status-canceled, 60%);
    color: $color-status-canceled;
  }
}

.fa-credit-invoice {
  &:before {
    content: '-';
  }
  &:after {
    font-family: FontAwesome;
    content: '\f155';
  }
}

.fa-read-only {
  @extend .fa-ban;
}

/*
|   =========================================================
|   Forms
|   =========================================================
*/

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/*
|   =========================================================
|   Additional icon and text styles
|   =========================================================
*/

.fa-fw {
  width: 1rem;
  text-align: center;
}

.fa-margin-right {
  margin-right: 0.5rem;
}

.fa-margin-left {
  margin-left: 0.5rem;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/*
|   =========================================================
|   Various other styles
|   =========================================================
*/

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: $gray-lightest;
  border-left: 1px solid $gray-lighter;
}
::-webkit-scrollbar-thumb {
  background-color: darken($gray-lighter, 10%);
}